/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --white: #eef2ff;
  --blue:#6366f1;
  --darkblue :#4f46e5;
  --ff:'Roboto', sans-serif;
  --black: black;
  --bg-main: #c7d2fe;
  --gray-shadow: gray;

} 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
a{
  text-decoration: none;
  color: var(--white)
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
  display:grid;
  grid-template-columns: 350px 7fr;
}
.sidebar-container{
  background-color: var(--blue);
  grid-column: 1/2;
  grid-row: 1/span 5; 
  padding-left:1rem;
}
.main-container{
  grid-row: 2;
  display: grid;
  background-color: var(--bg-main);
  grid-template-columns: 3fr 1fr;
  
  
 
}
.main-section{
  margin :1.50rem;
  grid-row: 1/5; 
  display: grid;
  grid-template-rows: repeat(auto-fill,minmax(35px 1fr));
  
  
}
article{
  
  background-color: var(--white);
  padding: 2rem 1.5rem;
  box-shadow: -7px 0 var(--darkblue), 3px 3px 15px var(--gray-shadow);
  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1rem;  
}
article  .icon-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 3rem;
}
.article-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.icon-container svg{
  color: var(--black);
}

.header-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-row: 1/2;
  
}
.sidebar-section-container{

 margin-bottom: 4rem;
}
.sidebar-section{
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}
svg{
  color: var(--white);
}
.header-section-container:nth-child(1){
  grid-column: 1/5;
  grid-row: 1/2;
  margin: 1rem;
  display: grid;
  grid-template-columns: 50px 750px;
  align-items: center;

}
.header{
  margin-left :0.75rem;
}
.header-section-container:nth-child(2){
  grid-column: 5/8;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}
.header-section-container:nth-child(3){
  grid-column: 1/5;
  grid-row: 2/3;
  margin: 1rem;
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: 1rem;
  align-content: center;
}
.header-section-container:nth-child(3) img{
  height: 72px;
  width: 72px;
  grid-row: 1/3;
  
}
.header-section-container:nth-child(4){
  grid-column: 5/8;
  grid-row: 2/3;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
 
  
}
.header-section-container input , .header-section-container input:focus{
  width: 100%;
  
  border-radius: 1rem;
  background-color: var(--bg-main);
  border: none;
  outline: none;
  padding-left: 1rem;
  color: var(--white);
  
  
}

.header-section-container svg{
  color:var(--black)
}

.header-section-container img{

  width: 48px;
  height: 48px;
}
button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  outline: none;
  border: none;
  
}
button:hover{
  cursor: pointer;
}
.announcements-wrapper{
  background-color: var(--white);
  padding: 1em;
  border-radius: 10px;
  
  
}
.announcements-wrapper, .trending-wrapper{
  box-shadow:3px 3px 15px var(--gray-shadow);
}
.announcements-wrapper>div{
  margin: 1rem;
}
.announcements-section{
  margin: 1rem;
}
hr{
  width: 90%;
}

.trending-section{
  margin: 1rem;
  

}
.trending-wrapper{
  background-color: var(--white);
  display: grid;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  
  
}
.trending-wrapper img{
  height: 45px;
  width: 45px;
}
.trend{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.75rem;

}
.username{
  font-size: medium;
  
}
.project{
  font-size: large;
}
.sidebar-section a{
  color: var(--white);
  font-weight: 700;
  font-size: large;
}
#username{
  color: var(--black);
  font-size: 1.5rem;
}
h1{
  font: 3rem;
  color: var(--white);
}
h2{
  color: var(--black);
  margin-bottom: 0.50rem;

}
.title{
  margin-left: 0.75rem;
  margin-top: -0.50rem;

}



